footer.footer
    div.footer-top
        div.footer-top__colm
            img(src="images/logo.svg", alt="logo")
            p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        div.footer-top__colm
            h3.footer__heading Навигация
            ul.footer-top__list
                li.footer-top__item
                    a(href="#") О нас
                li.footer-top__item
                    a(href="#") Новости
                li.footer-top__item
                    a(href="#") Служба поддержки
                li.footer-top__item
                    a(href="#") Услуги
        div.footer-top__colm
            h3.footer__heading О нас
            ul.footer-top__list
                li.footer-top__item
                    a(href="#") О сервисе
                li.footer-top__item
                    a(href="#") Наша команда
                li.footer-top__item
                    a(href="#") Вакансии
                li.footer-top__item
                    a(href="#") Инвесторы
        div.footer-top__colm
            h3.footer__heading Служба поддержки
            ul.footer-top__list
                li.footer-top__item
                    a(href="#") Соглашение
                li.footer-top__item
                    a(href="#") Сообщества
                li.footer-top__item
                    a(href="#") Связь с нами
        div.footer-top__colm
            h3.footer__heading Подписка
            p.footer__text Получайте специальные предложения и новости сервиса
            form.footer-top__form(action="#")
                input.footer-top__input(type="email", name="email", placeholder="Email")
                input.footer__form-btn(type="submit", value=" ")
    div.footer-buttom
        p.footer-buttom__text Copyright &copy 2018 Toxin отель. Все права защищены.
        ul.footer-buttom__list
            li.footer-buttom__item
                a.footer-buttom__link(href="#")
                    img.footer-buttom__social-icon(src="images/icon/twwr.svg", alt="twwr")
            li.footer-buttom__item
                a.footer-buttom__link(href="#")
                    img.footer-buttom__social-icon(src="images/icon/fb.svg", alt="fb") 
            li.footer-buttom__item
                a.footer-buttom__link(href="#")
                    img.footer-buttom__social-icon(src="images/icon/inst.svg", alt="inst") 
        