html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Toxic - сайт заказов номеров"
    style
      include styles/normalize.css
      include styles/style.css
  body
      include modules/header
      include modules/hero
      include modules/footer